{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Gestion de la liste des factures{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="card bg-light-info shadow-none position-relative overflow-hidden">
            <div class="card-body px-4 py-3">
                <div class="row align-items-center">
                    <div class="col-9">
                        <h4 class="fw-semibold mb-8">Gestion des etats</h4>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a class="text-muted" href="#">Archives</a></li>
                                <li class="breadcrumb-item"><a class="text-muted" href="#">Factures</a></li>
                                <li class="breadcrumb-item" aria-current="page">Caisse</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-3">
                        <div class="text-center mb-n5">
                            <span class="head-icon"><i class="ti-printer"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col"><h5 class="mb-2 fw-semibold fs-4">Totaux</h5></div>

                            </div>

                        </div>
                        <div class="card-body">
                            <div id="table-loader" class="table-loader">
                                <div class="loader"></div>
                            </div>
                            <div class="table-responsive">
                                <table id="listes" class="table  border table-striped table-bordered display text-nowrap">
                                    <thead>
                                    <tr>
                                        <th class="text-center text-uppercase">#</th>
                                        <th class="text-center text-uppercase">Date</th>
                                        <th class="text-center text-uppercase">Caisse</th>
                                        <th class="text-center text-uppercase">Montant</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for facture in factures %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td class="text-center">{{ facture.date ? facture.date|date('Y-m-d') : '' }}</td>
                                            <td class="text-left">{{ facture.caisse }}</td>
                                            <td class="text-end">{{ facture.totalMontant }}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="3">Aucune facture trouvée</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/prism.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/DataTables/datatables.min.css') }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/vendor/css/select2.min.css')) }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/js/prism.js') }}"></script>
    <script src="{{ asset('assets/vendor/DataTables/datatables.min.js') }}"></script>
    <script src="{{ absolute_url(asset('assets/vendor/js/select2.full.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/vendor/js/select2.min.js')) }}"></script>
    <script>
        $(document).ready(function() {
            var tableLoader = $('#table-loader');
            var table = $('#listes');

            table.on('init.dt', function() {
                tableLoader.find('.loader').hide();
                table.show();
            });

            table.DataTable({
                // Configurations du DataTable
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'excel', 'pdf'
                ],
                initComplete: function() {
                    tableLoader.find('.loader').show();
                    table.hide();
                }
            });
        });
    </script>
    <script>
        $(".select2").select2();
    </script>
{% endblock %}
