{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Tableau de bord{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 d-flex align-items-strech">
                <div class="card w-100">
                    <div class="card-body p-4">
                        <h5 class="card-title fw-semibold">Ventes des caisses</h5>
                        <p class="card-subtitle mb-0">Les totaux des ventes des caisses du mois en cours: <strong>{{ "now"|date('F')|trans }} {{ "now"|date('Y') }}</strong></p>
                        <div class="row row-cols-1 row-cols-md-3 mt-9">

                            {% for caisse in caisses %}
                                <div class="col">
                                    <div class="card overflow-hidden mb-4 mb-md-0 shadow-none border">
                                        <div class="position-relative">
                                            <img src="{{ absolute_url(asset('assets/img/avatar.png')) }}" class="img-fluid w-100" alt="1" />
                                        </div>
                                        <div class="p-9 text-start">
                                            <h6 class="fw-semibold fs-4">{{ caisse.username|title }}</h6>
                                            <div class="d-flex align-items-center mt-3 justify-content-between">
                                                <div class="fs-3">Total</div>
                                                <h6 class="mb-0">
                                                    <i class="cc ETH" title="ETH"></i>
                                                    <span class="text-dark fw-bold">{{ caisse.montant|number_format(0,'','.') }}</span> FCFA
                                                </h6>
                                            </div>
                                            <a href="javascript:void(0)" class="btn btn-primary w-100 mt-3">Détails</a>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col text-center">
                                    <div class="card text-center">
                                        <span class="badge bg-danger"><em>Aucune vente ce mois en cours</em></span>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 d-flex align-items-strech">
                <div class="card w-100">
                    <div class="card-body p-4">
                        <h5 class="card-title fw-semibold">Estimation du stock</h5>
                        <p class="card-subtitle mb-0">Valeur de vente des produits en stock</p>
                        <div class="card overflow-hidden mt-9">
                            <img src="{{ asset('assets/img/stock.png') }}" alt="bg-card" height="220">
                        </div>
                        <div class="card shadow-none mb-0">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center mb-3">
                                    <h2 class="fw-semibold mb-0">{{ valeurTotal.vente|number_format(0,'','.')}} FCFA</h2>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="ms-1">
                                      <i class="ti ti-arrow-up-left text-success"></i>
                                    </span>
                                    <span class="text-dark fs-3 fw-bold ms-1">Bénéfice estimatif:</span>
                                    <span class="text-success fw-bold fs-3 ms-2">{{ valeurTotal.benefice|number_format(0,'','.') }} FCFA</span>
                                </div>
                                <button class="btn btn-light-primary text-primary w-100 mt-3"> Détails </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  Row 1 -->
        <div class="row">
            <div class="col-lg-12 d-flex align-items-strech">
                <div class="card w-100">
                    <div class="card-body">
                        <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                            <div class="mb-3 mb-sm-0">
                                <h5 class="card-title fw-semibold">Recettes mensuelles</h5>
                                <p class="card-subtitle mb-0">Diagramme des recettes mensuelles de l'année <strong>{{ "now"|date('Y') }}</strong> </p>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-lg-12 col-md-12">
                                <div>
                                    <div id="myChart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--  Row 3 -->
        <div class="row">
            <!-- Weekly Stats -->
            <div class="col-lg-4 d-flex align-items-strech">
                <div class="card w-100">
                    <div class="card-body">
                        <h5 class="card-title fw-semibold">Top clients</h5>
                        <p class="card-subtitle mb-7">Liste des meilleurs clients</p>
                        <div class="position-relative">
                            {% for client in clients|slice(0,7) %}
                                <div class="d-flex align-items-center justify-content-between mb-7">
                                    <div class="d-flex">
                                        <div class="p-6 bg-light-primary rounded me-6 d-flex align-items-center justify-content-center">
                                            <i class="ti-user fs-6"></i>
                                        </div>
                                        <div>
                                            <h6 class="mb-1 fs-4 fw-semibold">{{ client.contact }}</h6>
                                            <p class="fs-3 mb-0">{{ client.nombre}} achats</p>
                                        </div>
                                    </div>
                                    <div class="bg-light-primary badge">
                                        <p class="fs-3 text-primary fw-semibold mb-0">{{ client.montant|number_format(0,'','.') }}</p>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
            <!-- Top Performers -->
            <div class="col-lg-8 d-flex align-items-strech">
                <div class="card w-100">
                    <div class="card-body">
                        <div class="d-sm-flex d-block align-items-center justify-content-between mb-7">
                            <div class="mb-3 mb-sm-0">
                                <h5 class="card-title fw-semibold">Dernières factures</h5>
                                <p class="card-subtitle mb-0">Liste des 10 dernières factures</p>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-middle text-nowrap mb-0">
                                <thead>
                                <tr class="text-muted fw-semibold">
                                    <th scope="col" class="ps-0">Facture</th>
                                    <th scope="col">Client</th>
                                    <th scope="col">Caisse</th>
                                    <th scope="col">Montant</th>
                                </tr>
                                </thead>
                                <tbody class="border-top">
                                {% for facture in factures %}
                                    <tr>
                                        <td class="ps-0">
                                            <div class="d-flex align-items-center">
                                                <div class="me-2 pe-1" style="font-size: 2.5rem;">
                                                    <i class="ti-receipt"></i>
                                                </div>
                                                <div>
                                                    <h6 class="fw-semibold mb-1">{{ facture.reference }}</h6>
                                                    <p class="fs-2 mb-0 text-muted">{{ facture.date|date('Y-m-d H:i:s') }}</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="mb-0 fs-3">{{ facture.client }}</p>
                                        </td>
                                        <td>
                                            <span class="badge fw-semibold py-1 w-85 bg-light-primary text-primary">{{ facture.caisse }}</span>
                                        </td>
                                        <td>
                                            <p class="fs-3 text-dark mb-0">{{ facture.montant|number_format(0,'','.')}} FCFA</p>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/vendor/css/owl.carousel.min.css')) }}">
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ absolute_url(asset('assets/vendor/js/owl.carousel.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/vendor/js/apexcharts.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/vendor/js/dashboard.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/vendor/js/chart.min.js')) }}"></script>
    <script>
        var options = {
            series: [{
                name: 'Recette globale',
                type: 'column',
                data: [{% for recette in recetteTotale %} {{ recette.montant }}, {% endfor %}]
            }],
            chart: {
                height: 500,
                type: 'line',
                stacked: false,
            },
            stroke: {
                width: [2],
                curve: 'smooth'
            },
            plotOptions: {
                bar: {
                    columnWidth: '100%'
                }
            },

            fill: {
                opacity: [0.85],
                gradient: {
                    inverseColors: false,
                    shade: 'light',
                    type: "vertical",
                    opacityFrom: 0.85,
                    opacityTo: 0.55,
                    stops: [0, 100, 100, 100]
                }
            },
            labels: [{% for recette in recetteTotale %} '{{ recette.mois }}', {% endfor %}],
            markers: {
                size: 0
            },
            xaxis: {
                type: 'datetime'
            },
            yaxis: {
                title: {
                    text: 'FCFA',
                },
                min: 0
            },
            tooltip: {
                shared: true,
                intersect: false,
                y: {
                    formatter: function (y) {
                        if (typeof y !== "undefined") {
                            return y.toFixed(0) + " FCFA";
                        }
                        return y;

                    }
                }
            }
        };

        var chart = new ApexCharts(document.querySelector("#myChart"), options);
        chart.render();
    </script>
{% endblock %}
