{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Gestion liste des achats{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="card bg-light-info shadow-none position-relative overflow-hidden">
            <div class="card-body px-4 py-3">
                <div class="row align-items-center">
                    <div class="col-9">
                        <h4 class="fw-semibold mb-8">Gestion des achats</h4>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a class="text-muted" href="#">Modules</a></li>
                                <li class="breadcrumb-item"><a class="text-muted" href="#">Approvisionnements</a></li>
                                <li class="breadcrumb-item" aria-current="page">achats</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-3">
                        <div class="text-center mb-n5">
                            <span class="head-icon"><i class="ti-truck"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col"><h5 class="mb-2 fw-semibold fs-4">Liste</h5></div>
                                <div class="col">
                                    <div class="action">
                                        <a href="{{ absolute_url(path('app_main_achat_new')) }}" class="btn btn-primary">Ajouter</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="listes" class="table  border table-striped table-bordered display text-nowrap">
                                    <thead>
                                    <tr>
                                        <th class="text-center text-uppercase">#</th>
                                        <th class="text-center text-uppercase">Code</th>
                                        <th class="text-center text-uppercase">Date</th>
                                        <th class="text-center text-uppercase">Fournisseurs</th>
                                        <th class="text-center text-uppercase">Numéros</th>
                                        <th class="text-center text-uppercase">Montants</th>
                                        <th class="text-center text-uppercase">Benefices</th>
                                        <th class="text-center text-uppercase">actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for achat in achats %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td class="text-center">{{ achat.code }}</td>
                                            <td class="text-center">{{ achat.dateAchat|date('Y-m-d') }}</td>
                                            <td>{{ achat.fournisseur.nom }}</td>
                                            <td>{{ achat.numFacture }}</td>
                                            <td class="text-center">{{ achat.montant }}</td>
                                            <td class="text-center">{{ achat.benefice }}</td>
                                            <td class="text-center">
                                                <a href="{{ absolute_url(path('app_main_achat_show',{id: achat.id})) }}"><i class="ti-receipt"></i></a>
                                                &nbsp; | &nbsp;
                                                <a href="{{ absolute_url(path('app_main_achat_delete',{id: achat.id})) }}" onclick="return confirm('Voulez-vous vriament supprimer cet achat?')"><i class="ti-trash"></i></a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="7">Aucun achat enregistré</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/prism.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/DataTables/datatables.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/prism.min.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/js/prism.js') }}"></script>
    <script src="{{ asset('assets/vendor/DataTables/datatables.min.js') }}"></script>
    <script>
        $('#listes').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                'copy', 'excel', 'pdf'
            ]
        } );
    </script>
{% endblock %}
