{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Gestion liste des factures{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="card bg-light-info shadow-none position-relative overflow-hidden">
            <div class="card-body px-4 py-3">
                <div class="row align-items-center">
                    <div class="col-9">
                        <h4 class="fw-semibold mb-8">Gestion des factures</h4>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a class="text-muted" href="#">Modules</a></li>
                                <li class="breadcrumb-item"><a class="text-muted" href="#">Caisse</a></li>
                                <li class="breadcrumb-item" aria-current="page">factures</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-3">
                        <div class="text-center mb-n5">
                            <span class="head-icon"><i class="ti-desktop"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col"><h5 class="mb-2 fw-semibold fs-4">Liste</h5></div>
                                <div class="col">
                                    <div class="action">
                                        <a href="{{ absolute_url(path('app_main_client_show',{id: facture.client.id})) }}" class="btn btn-primary">
                                            <i class="ti-list"></i>&nbsp; Retour à la facture
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-body">
                            <div id="table-loader" class="table-loader">
                                <div class="loader"></div>
                            </div>
                            <div class="table-responsive">
                                <table id="listes" class="table  border table-striped table-bordered display text-nowrap" style="width: 100%;">
                                    <thead>
                                    <tr>
                                        <th class="text-center text-uppercase">#</th>
                                        <th class="text-center text-uppercase">Reference</th>
                                        <th class="text-center text-uppercase">Libelle</th>
                                        <th class="text-center text-uppercase">Prix de vente</th>
                                        <th class="text-center text-uppercase">Quantite</th>
                                        <th class="text-center text-uppercase">Montant</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for produit in facture.produits %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td class="text-center">{{ produit.code }}</td>
                                            <td>{{ produit.libelle }}</td>
                                            <td class="text-center">{{ produit.prixVente }}</td>
                                            <td class="text-center">{{ produit.quantite }}</td>
                                            <td class="text-center">{{ produit.montant }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="mt-5">
                                {{ include('main/facture/_delete_facture.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/prism.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/DataTables/datatables.min.css') }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/vendor/css/select2.min.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/vendor/sweetalert2/sweetalert2.min.css')) }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/js/prism.js') }}"></script>
    <script src="{{ asset('assets/vendor/DataTables/datatables.min.js') }}"></script>
    <script src="{{ absolute_url(asset('assets/vendor/js/select2.full.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/vendor/js/select2.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/vendor/sweetalert2/sweetalert2.all.min.js')) }}"></script>
    <script>
        $(document).ready(function() {
            var tableLoader = $('#table-loader');
            var table = $('#listes');

            table.on('init.dt', function() {
                tableLoader.find('.loader').hide();
                table.show();
            });

            table.DataTable({
                // Configurations du DataTable
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'excel', 'pdf'
                ],
                initComplete: function() {
                    tableLoader.find('.loader').show();
                    table.hide();
                }
            });
        });
    </script>

    <script>
        $(".select2").select2();
    </script>
    <script>
        $(document).ready(function () {
            console.log('ouvert')
            $('#FactureDelete').submit(function (e) {
                e.preventDefault()
                Swal.fire({
                    title: 'Voulez-vous vraiment supprimer la facture : ' + {{ facture.code }} + '?',
                    text: "Une fois confirmée, vous ne pourrez plus recuperer la facture!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Oui, supprimer la!',
                    cancelButtonText: "Annuler"
                }).then((result) => {
                    if (result.isConfirmed){
                        e.target.submit();
                    }
                })
            })
        })
    </script>
{% endblock %}
