<!DOCTYPE>
<html>
<body onload="window.print();">
<table width="100%">
    <tr>
        <td>
            <div class="mb-5" style="font-size: 0.7em; font-family: Consolas; text-align: center">
                <a href="" onclick="window.close()" accesskey="0"><strong>Boutok AmerikCanada</strong></a><br>
                Faya Nouveau goudron <br>
                Tel: +225 0759136978 / 0747742221
            </div>
        </td>
    </tr>
</table>
<table class="" width="100%" style="font-size: 0.7em; margin-top: 30px;">
    <tr>
        <td class="">Ticket No: <strong>{{ facture.code }}</strong></td>
        <td style="text-align: right">Date: <strong>{{ facture.createdAt|date('d/m/Y') }}</strong></td>
    </tr>
    <tr>
        <td class="">Caisse: <strong>{{ facture.caisse.userIdentifier }}</strong></td>
        <td style="text-align: right">Heure: <strong>{{ facture.createdAt|date('H:i:s') }}</strong></td>
    </tr>
</table>
<table width="100%" style="font-size: 0.7em; margin-top: 30px; font-family: Consolas;">

    {% for produit in facture.produits %}
        <tr class="">
            <td style="text-align:left;">{{ produit.quantite }}*</td>
            <td><!--{{ produit.code }}--> {{ produit.libelle }}</td>
            <td style="text-align:right;">{{ produit.montant|number_format(0,'',' ') }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td style="margin-top: 30px;"></td>
    </tr>

        <tr class="mt-5">
            <td colspan="2" style="text-align:right;">Total:</td>
            <td style="text-align:right;"><strong>{{ facture.montant|number_format(0,'',' ') }}</strong></td>
        </tr>
        {% if facture.remise %}
            <tr class="mt-5">
                <td colspan="2" style="text-align:right;">Remise:</td>
                <td style="text-align:right;"><strong>{{ facture.remise }} %</strong></td>
            </tr>
            <tr class="mt-5">
                <td colspan="2" style="text-align:right;">NAP:</td>
                <td style="text-align:right;"><strong>{{ facture.nap|number_format(0,'',' ') }}</strong></td>
            </tr>
        {% endif %}
        <tr class="mt-5">
            <td colspan="2" style="text-align:right;">Verse:</td>
            <td style="text-align:right;"><strong>{{ facture.verse|number_format(0,'',' ') }}</strong></td>
        </tr>
        <tr class="mt-5">
            <td colspan="2" style="text-align:right;">Monnaie:</td>
            <td style="text-align:right;"><strong>{{ facture.monnaie|number_format(0,'',' ') }}</strong></td>
        </tr>

</table>
<table width="100%" style="font-size: 0.65em; margin-top: 30px; font-style:italic; text-align:center;">
    <tr>
        <td>
            <em>Nous vous remercions de nous avoir visités</em><br>
            <em>NB: La superette est ouverte en permanence <br> de O7h à 21h</em>
        </td>
    </tr>
</table>
</body>
</html>