{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Liste des produits vendus {% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="card bg-light-info shadow-none position-relative overflow-hidden">
            <div class="card-body px-4 py-3">
                <div class="row align-items-center">
                    <div class="col-9">
                        <h4 class="fw-semibold mb-8">Gestion des produits vendus</h4>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a class="text-muted" href="#">Etats</a></li>
                                <li class="breadcrumb-item"><a class="text-muted" href="#">Vente</a></li>
                                <li class="breadcrumb-item" aria-current="page">Par Produit</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-3">
                        <div class="text-center mb-n5">
                            <span class="head-icon"><i class="ti-package"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section>

                <form action="{{ absolute_url(path('app_produits_vendus')) }}">
                    <div class="row">
                        <div class="col-4 offset-4">
                            <input type="text" name="produits" class="form-control" autocomplete="off" placeholder="Entrez le nom du produit">
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-outline-secondary">Rechercher</button>
                        </div>
                    </div>
                </form>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col"><h5 class="mb-2 fw-semibold fs-4">Liste</h5></div>

                            </div>

                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="listes" class="table  border table-striped table-bordered display text-nowrap">
                                    <thead>
                                    <tr>
                                        <th class="text-center text-uppercase">#</th>
                                        <th class="text-center text-uppercase">Date</th>
                                        <th class="text-center text-uppercase">Produit</th>
                                        <th class="text-center text-uppercase">Quantite</th>
                                        <th class="text-center text-uppercase">Prix de vente</th>
                                        <th class="text-center text-uppercase">Montant</th>
                                        <th class="text-center text-uppercase">Caisse</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for produit in produits %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td class="text-center">{{ produit.date }}</td>
                                            <td class="text-center">{{ produit.produit_libelle }}</td>
                                            <td class="text-center">{{ produit.quantite }}</td>
                                            <td class="text-center">{{ produit.prix_vente }} </td>
                                            <td class="text-center">{{ produit.montant }} </td>
                                            <td class="text-center">{{ produit.caisse }}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="7" class="text-center fst-italic">Aucun client trouvé</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/prism.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/DataTables/datatables.min.css') }}">
    <link rel="stylesheet" href="pris">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/js/prism.js') }}"></script>
    <script src="{{ asset('assets/vendor/DataTables/datatables.min.js') }}"></script>
    <script>
        $('#listes').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                'copy', 'excel', 'pdf'
            ]
        } );
    </script>
{% endblock %}
